.Plum-Rush-1-hex { color: #105057; }
.Plum-Rush-2-hex { color: #898C8B; }
.Plum-Rush-3-hex { color: #FF81D0; }
.Plum-Rush-4-hex { color: #400036; }
.Plum-Rush-5-hex { color: #919151; }

* {
	box-sizing: inherit;
	margin: 0px;
}

html {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.content {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
}

header, .main-title, .image-section, .quote, .newsletter, footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 800px;
	padding: 10px;
}

/* HEADER + CONTENTS */

	header {
		justify-content: space-between;
		flex: 0;
		background-color: #2b0325;
		padding: 10px;
	}

	.logo {
		flex: 0;
		width: 10%;
		border-radius: 50%;
		}

		.buttons {
			display: flex;
			height: 100%;
			gap: 10px;
		}

		.link {
			align-self: stretch;
			height: 100%;
		}

/* MAIN SECTION  */

	.main-title {
		flex-wrap: nowrap;
		justify-content: space-between;
		background-color: #400036;
		flex: 2;
	}

	.main-text, .hero-image {
		display: flex;
		flex: 1;
		color: #FF81D0;
	}

	.main-text {
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
	}

	.hero-image {
		border: 2px solid #FF81D0;
		border-radius: 25px;	
	}

	.hero-image img {
		height: auto;
		width: 100%;
		border-radius: 25px;	
	}

/* IMAGE SECTION */

	.image-section {
		flex: 2;
		flex-direction: column;
		background-color: white;
		color: #400036;
	}

	.image {
		border: 2px solid #105057;
		border-radius: 25px;
	}

	.subtext {
		color: #FF81D0;
		font-size: 12px;
	}

	.image-subtext, .images {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	.image, .subtext {
		min-width: 60px;
	}

/* QUOTE SECTION */

	.quote {
		color: #105057;
		border: #105057 1px dotted;
		flex: 1;
		justify-content: center;
		align-items: center;
		font-style: italic;		
	}

/* NEWSLETTER */

	.newsletter {
		flex: 1;
		background-color: #898C8B;
		color: #898C8B;
	}

	.newsletter-content {
		display: flex;
		flex-direction: column;
	}

	.newsletter-text {
		padding: 20px;
		border: white solid 1px;
		border-radius: 10px;
		background-color: white;
	}

/* FOOTER */

	footer {
		position: absolute;
		bottom: 0;
		flex: 0;
		background-color: #105057;
		color: #FF81D0;
	}