.Plum-Rush-1-hex { color: #105057; }
.Plum-Rush-2-hex { color: #898C8B; }
.Plum-Rush-3-hex { color: #FF81D0; }
.Plum-Rush-4-hex { color: #400036; }
.Plum-Rush-5-hex { color: #919151; }

* {
	box-sizing: inherit;
	margin: 0px;
}

html {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.content {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
}

header, .image-section, .quote, .newsletter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	max-width: 800px;
	padding: 10px;
}



button {
	background-color: #FF81D0;
	color: whitesmoke;
	border-radius: 15px;
	border: none;
	padding: 10px;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

/* HEADER + CONTENTS */

	header {
		justify-content: space-between;
		flex: 0;
		padding: 10px;		
	}

	.logo {
		flex: 0;
		width: 10%;
		border: solid 3px #898C8B;
		border-radius: 50%;
	}

	.site-name {
		display: flex;
		justify-content: space-around;
		padding-left: 10px;
		flex: 1;
		color: #FF81D0;
		font-size: 34px;
		font-weight: bold;
	}

	.buttons {
			display: flex;
			gap: 30px;
	}

	.link {
			color: #FF81D0;
			text-decoration: none;
	}

/* TOP SECTION  */


	.hero-image img {
		display: flex;
		height: auto;
		width: 100vw;
	}
	.main-title {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		gap: 20px;
		flex: 1;
		padding: 10px 0px
	} 

	.main-text {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex: 1;
		max-width: 800px;
		height: 100%;
		color: #FF81D0;
	}

	.main-text p {
		padding-left: 20px;
	}


/* IMAGE SECTION */

	.image-section {
		flex: 3 0 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		color: #400036;
	}

	.text {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-weight: bold;
		font-size: large;
	}

	.image-and-subtext {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		flex: 1;
		gap: 50px;
		padding: 0px 20px;
	}

	.image-subtext {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-self: flex-end;
	}


	.image-subtext .subtext {
		color: #FF81D0;
		font-size: 12px;
		flex: 0;
		justify-content: center;
		margin: 5px 5px 2px 5px;
	}

	.image-subtext .drawing {
		margin-left: 90px;
	}

	.image-subtext .projects {
		margin-left: 90px;
	}


/* QUOTE SECTION */

	.quote {
		background-color: #898C8B;
		color: #105057;
		flex: 1 0 auto;
		justify-content: center;
		align-items: center;
		font-style: italic;		
		min-height: 200px;
	}

/* NEWSLETTER */

	.newsletter {
		display: flex;
		flex: 1;
		max-width: 800px;
		border: #105057 solid 3px;
		border-radius: 10px;
		margin: 10px 0px;	
	}

	.newsletter-content {
		display: flex;
		flex: 1;
		justify-content: space-around;
		align-items: center;
		color: #898C8B;
		font-weight: 900;
		font-size: large;
	}

/* FOOTER */

	footer {
		flex: 0 0 auto;
		background-color: #400036;
		color: #FF81D0;
		font-size: small;
		font-style: oblique;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}